body {
  background-color: #424874;
}

.formBox {
  background-color: #FFF;
  border-radius: 10px;
  border-radius: 10px;
  max-width: 80%;
  min-height: 70vh;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
}

.inputClass {
  padding: 15px;
  margin: 5px;
  min-width: 70%;
  border-radius: 10px;
}

.formContainer {
  align-items: center;
  padding: 10px;
  text-align: center;
}

.addBtn {
  background-color: #424874;
  color: #FFF;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  width: 300px;
}

.listBox {
  align-self: center;
}

.listItem {
  list-style-type: none;
  background-color: rgba(66, 72, 116, .3);
  margin: 3px 40px 3px 0px;
  padding: 2px;
}

.crossed {
  text-decoration: line-through 1px #000;
  opacity: .5;
}